<div class="row">
	<div class="col-xs-12 show-field">
		<h2 class="show-title">プロフィール</h2>
		<div class="col-xs-1"></div>
	<div class="col-xs-4">
		<%= attachment_image_tag @user, :profile_image, :size=>"200x200", class: "img-circle profile-thumb", fallback: "no_image.jpg" %><br>
		<% if user_signed_in? && @user.id == current_user.id %>
		<%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-info edit-btn" %>
		<% else %>
		<% if @isRoom == true %>
			<p><%= link_to "メッセージを送る", "/rooms/#{@roomId}", class: "btn btn-warning messe-btn" %>
		<% else %>
			<%= form_for @room do |f| %>
				<%= fields_for @entry do |e| %>
      		    <%= e.hidden_field :user_id, :value=> @user.id %>
      		<% end %>
    	    <%= f.submit "メッセージを送る", class: "btn btn-warning messe-btn" %>
  	   	     <% end %>
        <% end %>
		<% end %>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-5">
		<ul class="intro-list">
			<li class="intro-items"><p>名前:</p><%= @user.name %></li>
			<div class="hori"></div>
			<li class="intro-items"><p>年齢:</p><%= @user.age %></li>
			<div class="hori"></div>
			<li class="intro-items"><p>性別:</p><%= @user.sex %></li>
			<div class="hori"></div>
			<li class="intro-items1"><p>自己紹介:</p><span class="intro-box"><%= @user.intro %></span></li>
			<div id="hori1"></div>
			<li class="intro-items1"><p>ポートフォリオ:</p><span class="intro-box"><%= @user.port %></span></li>
			<div id="hori2"></div>
		</ul>
	</div>
	<div class="col-xs-1"></div>
</div>