<div class="row top-row">
	<div class="col-xs-12 title-feild">
		<h1 class="text-center top-title">学べる言語一覧</h1>
	</div>
</div>
<div class="row top-row">
	<div class="col-xs-12 horizon-field">
		<div id="horizon"></div>
	</div>
</div>
<div class="row top-row">
	<div class="col-xs-1 col-xs-offset-2">
		<p class="blow blow1">webページの<br>見た目を作る!</p>
		<%= link_to "/htmlcss" do %>
		  <div id="blow-field1" class="select-field btn">
		    <h4 class="lang-title">HTML&CSS</h4>
		    <div class="icon-field1"></div>
	      </div>
	     <% end %>
	</div>
    <div class="col-xs-1 col-xs-offset-2">
    	<p class="blow blow2">長い歴史を持つ<br>凡庸言語!</p>
		<%= link_to "/c" do %>
		  <div id="blow-field2" class="select-field btn">
		    <h4 class="lang-title">C言語</h4>
		    <div class="icon-field2"></div>
	      </div>
	     <% end %>
	</div>
	<div class="col-xs-1 col-xs-offset-2">
		<p class="blow blow3">どんな開発でも<br>難なくこなす!</p>
		<%= link_to "/java" do %>
		  <div id="blow-field3" class="select-field btn">
		    <h4 class="lang-title">Java</h4>
		    <div class="icon-field3"></div>
	      </div>
	     <% end %>
	</div>
</div>
<div class="row top-row">
	<div class="col-xs-1 col-xs-offset-2">
		<p class="blow blow4">シンプルかつ<br>高い生産性を誇る!</p>
		<%= link_to "/ruby" do %>
		  <div id="blow-field4" class="select-field btn">
		    <h4 class="lang-title">Ruby</h4>
		    <div class="icon-field4"></div>
	      </div>
	     <% end %>
	</div>
    <div class="col-xs-1 col-xs-offset-2">
    	<p class="blow blow5">AI開発に向く<br>勢いある言語!</p>
		<%= link_to "/python" do %>
		  <div id="blow-field5" class="select-field btn">
		    <h4 class="lang-title">Python</h4>
		    <div class="icon-field5"></div>
	      </div>
	     <% end %>
	</div>
	<div class="col-xs-1 col-xs-offset-2">
		<p class="blow blow6">webページに<br>動きをつける!</p>
		<%= link_to "/js" do %>
		  <div id="blow-field6" class="select-field btn">
		    <h4 class="lang-title">JavaScript</h4>
		    <div class="icon-field6"></div>
	      </div>
	     <% end %>
	</div>
</div>
<div class="row top-row">
	<div class="col-xs-1 col-xs-offset-2">
		<p class="blow blow7">webページが<br>スイスイ作れる!</p>
		<%= link_to "/php" do %>
		  <div id="blow-field7" class="select-field btn">
		    <h4 class="lang-title">PHP</h4>
		    <div class="icon-field7"></div>
	      </div>
	     <% end %>
	</div>
    <div class="col-xs-1 col-xs-offset-2">
    	<p class="blow blow8">webアプリを<br>作るならこれ!</p>
		<%= link_to "/rails" do %>
		  <div id="blow-field8" class="select-field btn">
		    <h4 class="lang-title">Ruby on rails</h4>
		    <div class="icon-field8"></div>
	      </div>
	     <% end %>
	</div>
	<div class="col-xs-1 col-xs-offset-2">
		<p class="blow blow9">JavaScriptを<br>簡単に使える!</p>
		<%= link_to "/jquery" do %>
		  <div id="blow-field9" class="select-field btn">
		    <h4 class="lang-title">jQuery</h4>
		    <div class="icon-field9"></div>
	      </div>
	     <% end %>
	</div>
</div>

